body {
    font-family: "Lobster", cursive;
    color: white;
}

#header {
    background-color: purple;
    border: 5px white dotted;
}

img {
    width: 100px;
    border-radius: 50%;
}

.col-md-4 {
    padding: 5px;
}

.row {
    background: goldenrod;
    border: white solid;
    margin: 10px;
}